.about_box img{
    height: 50px;
    width: 50px;
}
.about_box{
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,.3);

}
.diff_bg{
    background-color: rgba(232,237,242,.59) !important;
}